<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget</title>
</head>
<body>
<h1> All the Users </h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Users</th>
            <th>Expenses</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currentUser : ${users}">
            <td th:text="${currentUser.getName()}"></td>
            <td>
                <ul>
                    <li th:each="expenses: ${currentUser.expenses}" th:text="${expenses}">
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Location</th>
        <th>Amount</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="currentExpense : ${expenses}">
        <td th:text="${currentExpense.getId()}">Alice in Wonderland</td>
        <td th:text="${currentExpense.getLocation()}">I don't know</td>
        <td th:text="${currentExpense.getAmount()}">I don't know</td>
        <td th:text="${currentExpense.getUserId().getName()}">I don't know</td>
    </tr>
    </tbody>
</table>


</body>
</html>